<!DOCTYPE html>
<html>
<head>

  <title></title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">

    <!--- Itim, Exo, Concert+One, Neucha, Chewy --->

<style>
  body, h1,h2,h3,h4,h5,h6 {font-family: "Exo", sans-serif}
  .w3-row-padding img {margin-bottom: 12px}
  
  .w3-sidebar {width: 120px;background: #222;}
  #main {margin-left: 120px}
  @media only screen and (max-width: 600px) {#main {margin-left: 0}}
  
</style>
</head>



<body class="w3-light-grey">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-white">
      <p></p>

        <img src="https://img.freepik.com/premium-vector/mascot-illustration-sticky-note-with-laptop_152558-74504.jpg" style="width:85%">

      <a href="/home/{{uid}}" class="w3-bar-item w3-button w3-padding-large w3-white">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href="/new/{{uid}}" class="w3-bar-item w3-button w3-padding-large w3-white">
        <i class="fa fa-pencil w3-xxlarge"></i>
        <p>New</p>
      </a>
      <a href="/about/{{uid}}" class="w3-bar-item w3-button w3-padding-large w3-white">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
      </a>
      <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">
        <i class="fa fa-key w3-xxlarge"></i>
        <p>Logout</p>
      </a>
    </nav>

    <!-- Navbar on small screens -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
      <div class="w3-bar w3--light-grey w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="/home/{{uid}}" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
        <a href="/new/{{uid}}" class="w3-bar-item w3-button" style="width:25% !important">NEW</a>
        <a href="/about/{{uid}}" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
        <a href="/" class="w3-bar-item w3-button" style="width:25% !important">LOGOUT</a>
      </div>
    </div>
    <!-- End Icon Bar (Sidebar - hidden on small screens) -->


    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
          
        <h1><strong>Post-IT</strong></h1> <p class="w3-text-light-grey" id="user-id"> {{uid}} </p>
        

	<div id="display-postits"> </div>

     </div>
    <!-- End Page Content -->     

    </div>


    <!--- Footer --->
    <footer class="">
        <div class="w3-center w3-padding-24">Powered by <a href="https://github.com/kkf017" target="_blank" class="w3-hover-opacity">@me</a></div>
    </footer>
    <!--- End Footer --->

</body>


<script>

	var POSTITS = [{"uid":"ef51a74e15ccaa681a94424e96c6e2e86ff2b948","iid":"29d37a720ac13ad7a938b8d59732a81884c9484c","title":"Title 1 - wertzui","time":"12-11-2024 - wertzui","memo":"My new Memo 1 - wertzui","img":"img1 - wertzui"},{"uid":"ef51a74e15ccaa681a94424e96c6e2e86ff2b948","iid":"20699c248896eff923f23b93e208df2c1866c6c6","title":"Title 2 - wertzui","time":"07-11-2024 - wertzui","memo":"My new Memo 2 - wertzui","img":"img2 - wertzui"},{"uid":"ef51a74e15ccaa681a94424e96c6e2e86ff2b948","iid":"556d47a76cb08f3622d9d30b9acba117c0a7114f","title":"Title 3 - wertzui","time":"07-11-2024 - wertzui","memo":"My new Memo 3 - wertzui","img":"img3 - wertzui"}]; // mock - data to display
	
	window.onload = () => { display() };
	
    	function display(){
   
    		// request to get data for a user (id);
    		console.log("From display(uid, " + document.getElementById('user-id').innerHTML);
    		
    		displayPostits(POSTITS);
    	}
    	
    	function displayPostits(items){
    	
    		/* Suppress(), and display() buttons */
    		
    		let div = document.getElementById('display-postits');
		div.innerHTML = '';
		
    		for(i = 0; i < items.length ; i++){
    			div.innerHTML += `<div class="w3-container w3-white w3-margin w3-padding-large">
					    <div class="w3-center w3-left">
					      <h5><span class="w3-opacity">${items[i].time}</span>, ${items[i].title}</h5>
					      <h3></h3>
					    </div>
					    
					     <div class="w3-justify">
						      <!--<img src="/w3images/girl_hat.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">-->
						       <p class="w3-right"><button class="w3-button w3-deep-orange w3-border" onclick="suppress(this)"><b><i class="fa fa-minus"></i></b></button></p>

						      <a href="/home/${items[i].uid}/postit/${items[i].iid}"><p class="w3-right"><button class="w3-button w3-white w3-border" onclick="display(this)"><b><i class="fa fa-plus"></i></b></button></p></a>
					</div>
					    
				
					  </div>`;
    		}
    	}
    
    	function suppress(){}
</script>


</html>
